@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .crt::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%,
                rgba(0, 0, 0, 0.25) 50%),
            linear-gradient(90deg,
                rgba(255, 0, 0, 0.06),
                rgba(0, 255, 0, 0.02),
                rgba(0, 0, 255, 0.06));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }

    .text-glow {
        text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }

    /* Custom Scrollbar for Terminal */
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #000;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @keyframes flicker {
        0% {
            opacity: 0.97;
        }

        5% {
            opacity: 0.95;
        }

        10% {
            opacity: 0.9;
        }

        15% {
            opacity: 0.95;
        }

        20% {
            opacity: 0.99;
        }

        25% {
            opacity: 0.95;
        }

        30% {
            opacity: 0.9;
        }

        35% {
            opacity: 0.96;
        }

        40% {
            opacity: 0.98;
        }

        45% {
            opacity: 0.95;
        }

        50% {
            opacity: 0.99;
        }

        55% {
            opacity: 0.93;
        }

        60% {
            opacity: 0.9;
        }

        65% {
            opacity: 0.96;
        }

        70% {
            opacity: 1;
        }

        75% {
            opacity: 0.97;
        }

        80% {
            opacity: 0.95;
        }

        85% {
            opacity: 0.92;
        }

        90% {
            opacity: 0.98;
        }

        95% {
            opacity: 0.99;
        }

        100% {
            opacity: 0.94;
        }
    }

    .animate-flicker {
        animation: flicker 0.15s infinite;
    }
}